[2021-05-17 10:18] pkbullock opened #2 "Azure Shell Integration"
Explore the option of integrating the Azure Shell into the site allowing readers to try out the script in their environment.

[2021-05-17 10:19] pkbullock opened #3 "Add link to repository in contributor guidance"
In the documentation, emphasize the link to the repository or add if missing

[2021-05-17 10:21] pkbullock opened #4 "Sample for Building Spaces Pages"
Build Spaces Pages sample in the best appropriate tool

[2021-05-17 10:27] pkbullock opened #5 "Sample for removing the delete option on libraries"
Reference: https://capacreative.co.uk/2018/09/17/prevent-document-library-deletion/

[2021-05-17 10:29] pkbullock opened #6 "Sample report private teams sites to Excel"
Use the sample presented at Scottish summit to generate an excel report and upload to SharePoint document library

[2021-05-17 10:30] pkbullock opened #7 "Sample for bulk library generation - non provisioning engine"
Build a set of document libraries from PowerShell script but not using the provisioning engine

[2021-05-17 10:31] pkbullock opened #8 "Sample for bulk library generation - using provisioning engine"
Sample for bulk library generation - using the provisioning engine

[2021-05-17 10:32] pkbullock opened #9 "Sample for bulk undelete from Recycle Bin"
Sample for bulk undelete from Recycle Bin in those situations for dealing with restoration of a large batch of files from a user

[2021-05-17 10:36] pkbullock opened #10 "Sample for reducing the Site Members permission"
Sample for reducing the Site Members permission

[2021-05-17 10:43] pkbullock opened #11 "Clickable cmdlets"
clickable cmdlets in the scripts to refer back to the documentation in the original repos

[2021-05-17 10:45] pkbullock opened #12 "Sample for bulk deploying list formatting"
Based on this article: https://capacreative.co.uk/2018/02/11/using-pnp-powershell-to-apply-modern-column-formatting/

[2021-05-17 10:46] pkbullock opened #13 "Copy it feature"
Add a copy it button for each of the script tabs to allow easier grabbing of the code

[2021-05-17 11:57] pkbullock opened #14 "Sample Set Locale"
Based on https://capacreative.co.uk/2020/11/06/the-many-ways-to-set-uk-locale-in-sharepoint/

[2021-05-17 13:24] pkbullock commented on #6
Added in commit - https://github.com/pnp/script-samples/commit/7e57abf10bf3136e77d2ded4dc3e1635b26670e3

[2021-05-17 13:24] #6 closed

[2021-05-17 13:51] pkbullock commented on #5
Added sample - https://github.com/pnp/script-samples/commit/998496768e9d208aa13ef1ef1916f5dfc251c9b9

[2021-05-17 13:51] #5 closed

[2021-05-17 13:52] pkbullock commented on #3
Added link to repository at the top of the page ref https://github.com/pnp/script-samples/commit/80b0333c93dccc0a0b37c8094d1c3359c69070f5

[2021-05-17 13:52] #3 closed

[2021-05-17 13:53] pkbullock opened #15 "Simplify and break out contributor guidance"
Simplify and break out contributor guidance - reduce the noise and break into tasks with links to seperate pages

[2021-05-18 09:47] pkbullock commented on #13
Added in commit https://github.com/pnp/script-samples/commit/bfe37bd358cdfe9b32f3122a9473dad45ef9eded

[2021-05-18 09:47] #13 closed

[2021-05-20 09:08] pkbullock opened #16 "Bulk Create Teams for Test Environments"
Script for in bulk creating a set of teams for test environments

[2021-05-20 15:17] pkbullock opened #17 "Double bounce issue"
When the pages load the gallery pages double animate. Worse so on iOS devices but seen on PC as well.

[2021-05-20 15:18] pkbullock opened #18 "Mobile footer overlaps content"
In mobile view the footer overlaps bottom on the page.

[2021-05-21 08:39] pkbullock opened #19 "Reduce the chrome on sample images"
To improve lifespan on images, reduce the amount of UI shown.

[2021-05-21 18:09] pkbullock opened #20 "Detect theme installed on site"
Inspiration from Todd Klindt

$web = Get-PnPWeb -Includes PrimaryColor
$themes = Get-PnPTenantTheme
$themes |Where {$_.Palette.themePrimary -eq $web.PrimaryColor }

Name              Palette
----              -------
Blue Yonder Theme {[themeLight, #c7cfe0], [themeTertiary, #97a4c0], [black, #000000], [neutralSecondary, #605e5c]…}

PS /home/paul> $web = Get-PnPWeb -Includes PrimaryColor
PS /home/p

[2021-05-27 10:51] pkbullock opened #21 "Correct naming of CLI"
Cli for Microsoft 365 - Align titles in the metadata and filters/titles

[2021-05-27 10:52] pkbullock opened #22 "Hyperlinks to the Main Repos"
Add hyperlinks to the main repos for learning more with the code blocks - Hyperlinks to the Main REPOs

[2021-05-28 08:29] pkbullock commented on #21
Done

[2021-05-28 08:29] #21 closed

[2021-05-28 08:29] pkbullock commented on #15
This is now done

[2021-05-28 08:29] #15 closed

[2021-06-01 21:06] pkbullock commented on #17
Fixed this issue

[2021-06-01 21:06] #17 closed

[2021-06-02 19:47] pkbullock opened #23 "Filter improvements - show sample filter relates to in By Tool page"
Improve filters to cater for 3 types of platform for the CLI.

The filters are currently inadequate and needs further development and inclusion of a feature that defaults the tab based on the filters e.g. if bash filtered, when loading the sample that tab is defaulted.

Additional filters/metadata are needed for bash and PowerShell. Again I’ll add GH issue.

[2021-06-09 14:55] pkbullock opened #24 "Display all the script variants on the cards"
On the gallery display cards, display all the script variants for a sample

[2021-06-09 15:37] pkbullock opened #25 "Get rid of no preview images in article"
They are just in the way, remove them.

Keep references to the no preview on the cards

[2021-06-11 09:04] pkbullock opened #26 "Add quick identification of type of script"
Feedback: Shall we also show the logo of the language (PowerShell, Bash, JavaScript) to help folks quickly identify what they need? This is self-explanatory for PowerShell, but not so for CLI which works in any shell.

[2021-06-11 09:05] pkbullock opened #27 "What if we have the same script done with multiple tools"
Feedback: another thing that just popped into my mind that we should consider, is what if we have the same script done with multiple tools and on multiple platforms, eg. PnP PowerShell, CLI PowerShell, CLI Bash

how would we make it clear on the overview page?

[2021-06-12 08:21] dips365 commented on #9
Could you please assign to me ?
I will work on it and create Script to restore items from recycle bin.

[2021-06-12 18:51] dips365 commented on #9
Thanks !!

[2021-06-22 09:17] pkbullock opened #31 "List Items and CAML"
Add a sample that demonstrates using CAML and querying list items

[2021-06-23 10:01] pkbullock commented on #18
This has now been fixed

[2021-06-23 10:01] #18 closed

[2021-06-25 03:03] dips365 commented on #16
I would like to create script on it. Could you please assign to me ?

[2021-06-25 03:06] dips365 commented on #7
I would like to work on it. Could you please assign to me?
Not using Provisioning engine, Does that mean need to use Power shell commands only like New-PnPList ?

[2021-06-25 07:01] pkbullock commented on #16
Hi Dipen

Please don’t work on this one, I recently submitted a sample yesterday and haven’t yet updated the issue.

Thank you

Paul

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Dipen Shah ***@***.***>
Sent: Friday, June 25, 2021 4:03:12 AM
To: pnp/script-samples ***@***.***>
Cc: Paul Bullock ***@***.***>; Author ***@***.***>
Subject: Re: [pnp/script-samples]

[2021-06-25 08:21] pkbullock commented on #16
Closing as this one is already done.

[2021-06-25 08:21] #16 closed

[2021-06-25 08:23] pkbullock commented on #7
Yes, so building a library with a couple of columns + view maybe. Up to you how far, this is a demostration. Thank you for looking at this one 😊

[2021-06-25 09:02] pkbullock commented on #22
This is done on all samples

[2021-06-25 09:02] #22 closed

[2021-06-25 09:02] pkbullock commented on #9
This one is complete in PR #33 🎉

[2021-06-25 09:02] #9 closed

[2021-06-30 20:44] pkbullock commented on #24
Ref: https://github.com/pnp/script-samples/commit/fea350c05dbc9fb2deca46ab3c306bce0ec6f143

[2021-06-30 20:44] #24 closed

[2021-06-30 21:21] pkbullock commented on #11
This is the location of the markdown files for PnP PowerShell
https://github.com/pnp/powershell/tree/dev/documentation

The mkdocs yaml file is the key to determining the command and related documentation:
https://github.com/pnp/cli-microsoft365/blob/main/docs/mkdocs.yml

For Graph SDK PowerShell each subfolder represents a submodule and within there is the md doc files:
https://github.com/microso

[2021-07-14 16:14] pkbullock opened #36 "Compare document in two tenants"
Perform a hash check or file size between a migrated file in two tenants

[2021-07-16 06:58] pkbullock commented on #31
Assigned to Chandani Prajapati

[2021-07-19 18:57] pkbullock commented on #31
Done. :-)

[2021-07-19 18:57] #31 closed

[2021-08-07 20:16] pkbullock commented on #11
#38 Done

[2021-08-07 20:16] #11 closed

[2021-08-10 09:40] pkbullock opened #40 "Example scripts processing items greater than 5000 items"
- Libraries
- Using latest PnP PowerShell (not classic)
- Ideally adding CLI as well

[2021-08-10 18:18] LuiseFreese opened #42 "Azure CLI is a thing!"
Please make sure that we can submit Azure CLI samples as well. 🚀🚀🚀

[2021-08-10 21:11] pkbullock opened #43 "Author icons mis-aligned"
![image](https://user-images.githubusercontent.com/8781041/128935650-5308ee37-05c7-4c21-89c8-cfa0d6f080c2.png)

I don't like it - fix it pls.

[2021-08-11 02:27] dips365 opened #44 "Reset permission from Unique permission for SharePoint files."
This script will be useful for reset permission to parent inheritance from Unique permission.
Scenario:
In document library, more than 400 folders and each folder has number of files. Now, Some file has unique permission which needs to be inherited from parent folder. In this case, Script will be worked to reset permission in all files which have unique permission in all folders.

[2021-08-11 02:28] dips365 commented on #44
could you please assign to me ?

[2021-08-11 19:27] pkbullock commented on #42
Its alive!!! muhahah

[2021-08-11 19:27] #42 closed

[2021-08-11 19:29] pkbullock commented on #44
Its alive now - thank you I will socialise soon :-)

[2021-08-11 19:29] #44 closed

[2021-08-12 03:30] dips365 opened #47 "Export all List and Libraries with Item count and Permission in CSV"
Export all List and Libraries with Item count  and permission type (Inherited or unique) in CSV

[2021-08-12 03:30] dips365 commented on #47
Could you please assign this to me ?

[2021-09-03 15:13] pkbullock opened #54 "Install a theme"
Looking to install a SharePoint theme into the tenant

[2021-09-03 15:14] pkbullock commented on #10
Might consider removing this, notifications on message centre describe capability is being removed.

[2021-09-08 15:11] pkbullock opened #55 "Demo Events for Intranet Events List"
Idea for script to populate the events list of items from a CSV file, for demo environments.
Script should have a start date and CSV have a in days plus time for future event simulation.

[2021-09-08 20:58] pkbullock commented on #55
https://github.com/pnp/script-samples/commit/1bdc21dcaecf693488dd5fe2b4ef8c78e84ecec7

Completed

[2021-09-08 20:58] #55 closed

[2021-09-08 20:59] pkbullock commented on #54
I'm going to use this one for AMA Demo - please keep this reserved to myself.

[2021-09-20 20:50] pkbullock commented on #25
Done in commit https://github.com/pnp/script-samples/commit/e2c91c893d8772f3ef313b599a299fe3ccd013ad

[2021-09-20 20:50] #25 closed

[2021-09-20 22:19] pkbullock commented on #43
Related to #57

[2021-09-20 22:19] #43 closed

[2021-09-21 03:45] dips365 commented on #20
Can you assign to me?

[2021-09-22 07:45] ValerasNarbutas commented on #4
hi @pkbullock, could you elaborate on your idea a bit?
i can add a sample of exporting space page as template and create a space page from it in SharePoint.
Or do you mean something else by 'Build" page?

[2021-09-22 10:59] ValerasNarbutas commented on #40
hey @pkbullock
i can add script for using pnp and will check CLI also. Can you assign to me?

[2021-09-22 19:26] pkbullock commented on #4
Thats what im after, a script that has the ability to capture and create "Spaces" pages. Sounds like what you have written will do the job nicely.

[2021-09-22 19:27] pkbullock commented on #40
Sure done :-)

[2021-09-23 14:44] ValerasNarbutas opened #59 "Script to export all list items in csv + attachments if exist to local storage"
Script using pnp to export all list items from sharepoint online to csv file + attachments
@pkbullock , could you assign me this one also? i have good starter.

[2021-09-26 20:01] ValerasNarbutas commented on #59
Script added, closing issue

[2021-09-26 20:01] #59 closed

[2021-09-28 06:35] ValerasNarbutas commented on #7
@dips365 maybe you could also add an example of site design for list creation.

[2021-09-28 06:43] ValerasNarbutas commented on #12
Hey, @pkbullock , i can do this one also, I have checked your blog post and will reuse it plus maybe add an additional action to copy format from the existing list to apply on another site.

[2021-09-28 06:46] pkbullock commented on #12
Absolutely go for it :-)

[2021-09-29 09:26] ValerasNarbutas opened #66 "Script sample with site design"
Sample of the script with site design which can create various types of site columns (text, choice, date, taxonomy and etc.),
add list
add created columns to list
create and change the default view.

@pkbullock , could you assign me to this one if you feel this would be useful in sample galery.

[2021-09-29 18:23] pkbullock commented on #12
Closing as completed - thank you!

[2021-09-29 18:23] #12 closed

[2021-09-29 18:27] pkbullock opened #68 "Article Fix - Bulk add/remove users to Microsoft Teams and Microsoft 365 Groups"
https://pnp.github.io/script-samples/aad-manage-group-users/README.html?tabs=cli-m365-ps

[2021-09-29 18:28] pkbullock commented on #40
Closing as complete - Thank you!

[2021-09-29 18:28] #40 closed

[2021-09-29 18:34] pkbullock opened #69 "Add PnP Power Shell to Replace an owner in a Microsoft 365 Group or Microsoft Team"
Update article - Replace an owner in a Microsoft 365 Group or Microsoft Team | https://pnp.github.io/script-samples/aad-replace-owner-with-a-different-one/README.html?tabs=cli-m365-ps

Add PnP Power Shell Equivalent

[2021-09-29 18:36] pkbullock opened #70 "Add PnP PowerShell to article Setup example site"
Add a PnP PowerShell equivalent to https://pnp.github.io/script-samples/spo-setup-example-site/README.html?tabs=cli-m365-ps

[2021-09-29 18:37] pkbullock opened #71 "Add PnP Powershell to List all Microsoft Teams team's Owners and Members"
Add PnP PowerShell equivalent to https://pnp.github.io/script-samples/teams-list-teams-owners-and-members/README.html?tabs=cli-m365-ps script

[2021-09-29 18:39] pkbullock opened #72 "Add CLI for Microsoft 365 to Create Communication Sites with a specific primary language"
Add a CLI for Microsoft 365 equivalent script to https://pnp.github.io/script-samples/create-comm-sites-specific-locale/README.html?tabs=pnpps

[2021-09-29 18:41] pkbullock opened #73 "Add CLI for Microsoft 365 to How to to get all site collections with their sub webs"
Add CLI for Microsoft 365 Equivalent to https://pnp.github.io/script-samples/get-all-site-collections-subwebs/README.html?tabs=pnpps

[2021-09-29 18:43] pkbullock opened #74 "Add CLI for Microsoft 365 to"
Add CLI for Microsoft 365 equivalent -
https://pnp.github.io/script-samples/spo-generate-demo-events/README.html?tabs=pnpps

[2021-10-03 17:07] #66 closed

[2021-10-03 17:07] ValerasNarbutas commented on #66
Sample added
https://pnp.github.io/script-samples/spo-add-site-design-with-custom-list/README.html?tabs=pnpps
Closing issue

[2021-10-03 17:11] ValerasNarbutas commented on #8
@pkbullock
you can assign this one to me. As I understood sample Using PnP PowerShell on library creation is required right?

[2021-10-03 18:07] pkbullock commented on #54
Done #76 Closing.

[2021-10-03 18:07] #54 closed

[2021-10-03 18:28] pkbullock commented on #68
Done

[2021-10-03 18:28] #68 closed

[2021-10-03 18:30] pkbullock commented on #47
Hi @dips365 are you planning on taking this forward, if not, can i release for others to look at?

Thank you.

[2021-10-04 04:32] dips365 commented on #47
@pkbullock  I will do it by this weekend.

[2021-10-05 17:16] ValerasNarbutas commented on #8
I will create example for multiple creation of list/library using  some file (csv most likely)

[2021-10-10 13:26] Adam-it commented on #73
👋hi ,
🙏Could I take this one?
👨‍💻 I have the script more or less ready using m365 cli and the result is the same as the provided sample (except the fact the sites are  grouped into fallowing categories: team, communication, classic, deleted)

📸 here is how the result looks like:
![image](https://user-images.githubusercontent.com/58668583/136697728-9d1be919-fdc7-4451-93c0-31cd9b850db4.png)

[2021-10-10 13:28] pkbullock commented on #73
Absolutely! I'll assign to you.

[2021-10-10 13:29] Adam-it commented on #73
cool, thanks a lot 👍

[2021-10-10 13:51] Adam-it commented on #72
👋hi ,
🙏Could I take this one as well?

[2021-10-10 14:07] Adam-it commented on #74
👋hi ,
🙏And could I also take this one as well?
The script is very very similar, just changed the ` Add-PnPListItem` to `m365 spo listitem add` and added ensure check if user is logged in to tenant 🤔.
📸 The result is the same as running the PnP Powershell version
![image](https://user-images.githubusercontent.com/58668583/136699105-59309b5f-dfeb-40cb-a51d-7e1f0ee26280.png)

![image](https://user-im

[2021-10-10 19:21] pkbullock commented on #74
Sound good - thank you for looking at this :-)

[2021-10-10 20:50] Adam-it commented on #74
ok PR opened 👍 I left a small comment @pkbullock  for you there as I am no sure regarding one file and if I should update  it 🤔.

[2021-10-11 04:32] reshmee011 commented on #71
@pkbullock : Please assign the issue to me.

[2021-10-11 12:38] ValerasNarbutas commented on #14
Good Monday @pkbullock,
i can write the script to change it in multiple ways.

[2021-10-12 07:23] pkbullock commented on #71
This is done

[2021-10-13 08:15] pkbullock opened #95 "Add List View to Samples"
Bit like this, but better: https://pnp.github.io/script-samples/matrix.html

Should cater for the tool, product views.
Needs a new presentation style the above takes up too much real estate and isnt mobile friendly

[2021-10-15 12:01] pkbullock opened #102 "Write Guidance for JSON File"
Write Guidance for Sample JSON File

[2021-10-15 12:48] pkbullock opened #103 "Rename template-script-submission to make it easier to find."
put the template-script-submission at the top by naming it _template-script-submission

[2021-10-17 20:51] Adam-it commented on #72
@pkbullock I saw the PR is merged. I guess we may close this issue?

[2021-10-17 21:04] Adam-it opened #104 "CLI script sample version"
hi 👋
I was looking through the sample gallery looking for potential PnP PowerShell scripts which might be also done using PnP M365 CLI 🤔. I quickly pointed out those scripts which I could try rewrite using PnP CLI:
 - https://pnp.github.io/script-samples/spo-cleanup-site-column-usage/README.html?tabs=pnp-ps
 - https://pnp.github.io/script-samples/spo-detect-theme/README.html?tabs=pnpps
 - https://

[2021-10-18 08:02] pkbullock commented on #104
Hi @Adam-it

 was wondering if it is ok for me to try to take them one by one 🤔? **Yes Please**

Also how would you like for me to proceed? should I create issues for each sample and proceed PR by PR (preferable)? **Sounds like the best approach.**

Do you want me to first create an one issue add a PR for it and then create another issue for the next script or should I add the full list of issue s

[2021-10-18 19:03] pkbullock commented on #103
Reference: https://github.com/pnp/script-samples/commit/781945e129f181491cc358b64bc6939eb3588c45

[2021-10-18 21:04] Adam-it opened #108 "Add CLI for Microsoft 365 to Clean Up Unwanted Site Columns from Content Types and Lists/Libraries"
Add CLI for Microsoft 365 equivalent 👨‍💻 -
https://pnp.github.io/script-samples/spo-cleanup-site-column-usage/README.html?tabs=pnp-ps

[2021-10-18 21:04] Adam-it opened #109 "Add CLI for Microsoft 365 to Detect theme installed in SharePoint Site"
Add CLI for Microsoft 365 equivalent 👨‍💻 -
https://pnp.github.io/script-samples/spo-detect-theme/README.html?tabs=pnpps

[2021-10-18 21:05] Adam-it opened #110 "Add CLI for Microsoft 365 to Export all List and Libraries with Item count and Permission in CSV"
Add CLI for Microsoft 365 equivalent 👨‍💻 -
https://pnp.github.io/script-samples/spo-get-lists-libraries-item-count-permissions/README.html?tabs=pnpps

[2021-10-18 21:06] Adam-it opened #111 "Add CLI for Microsoft 365 to Create list and libraries from CSV file"
Add CLI for Microsoft 365 equivalent 👨‍💻 -
https://pnp.github.io/script-samples/spo-add-multiple-lists-using-csv-file/README.html?tabs=pnpps

[2021-10-18 21:06] Adam-it opened #112 "Add CLI for Microsoft 365 to Create and add site design to SharePoint site with site columns, content type."
Add CLI for Microsoft 365 equivalent 👨‍💻 -
https://pnp.github.io/script-samples/spo-add-site-design-with-custom-list/README.html?tabs=pnpps

[2021-10-18 21:07] Adam-it opened #113 "Add CLI for Microsoft 365 to Add a tenant theme to SharePoint Online"
Add CLI for Microsoft 365 equivalent 👨‍💻 -
https://pnp.github.io/script-samples/spo-add-tenant-theme/README.html?tabs=pnpps

[2021-10-18 21:07] Adam-it opened #114 "Add CLI for Microsoft 365 to Reset files permissions unique to Inherited"
Add CLI for Microsoft 365 equivalent 👨‍💻 -
https://pnp.github.io/script-samples/reset-files-permission-unique-to-inherited/README.html?tabs=pnpps

[2021-10-18 21:08] Adam-it opened #115 "Add CLI for Microsoft 365 to Read SharePoint List Items Using CAML Query"
Add CLI for Microsoft 365 equivalent 👨‍💻 -
https://pnp.github.io/script-samples/spo-list-items-with-caml-query/README.html?tabs=pnpps

[2021-10-18 21:08] Adam-it opened #116 "Add CLI for Microsoft 365 to Export CSV To SharePoint List Data"
Add CLI for Microsoft 365 equivalent 👨‍💻 -
https://pnp.github.io/script-samples/spo-export-data-to-sharepoint-lists/README.html?tabs=pnpps

[2021-10-18 21:09] Adam-it opened #117 "Add CLI for Microsoft 365 to Add a document library web part to a page (and only show a specific folder)"
Add CLI for Microsoft 365 equivalent 👨‍💻 -
https://pnp.github.io/script-samples/spo-add-document-library-webpart-to-page/README.html?tabs=pnpps

[2021-10-18 21:10] Adam-it opened #118 "🧑‍💻Add CLI for Microsoft 365 to Generate Markdown Report of LCIDs"
Add CLI for Microsoft 365 equivalent 👨‍💻 -
https://pnp.github.io/script-samples/generate-markdown-lcids/README.html?tabs=pnpps

[2021-10-18 21:10] Adam-it opened #119 "🧑‍💻Add CLI for Microsoft 365 to Get SharePoint Site Recycle Bin Items And Export It To CSV"
Add CLI for Microsoft 365 equivalent 👨‍💻 -
https://pnp.github.io/script-samples/spo-recyclebin-items-to-csv/README.html?tabs=pnpps

[2021-10-18 21:11] Adam-it opened #120 "Add CLI for Microsoft 365 to Report of Private Teams channels to Excel"
Add CLI for Microsoft 365 equivalent 👨‍💻 -
https://pnp.github.io/script-samples/report-private-teams-excel/README.html?tabs=pnpps

[2021-10-18 21:12] Adam-it opened #121 "🧑‍💻Add CLI for Microsoft 365 to Remove delete option on a document library"
Add CLI for Microsoft 365 equivalent 👨‍💻 -
https://pnp.github.io/script-samples/remove-delete-option-library/README.html?tabs=pnpps

[2021-10-20 06:14] #103 closed, assigned to pkbullock

[2021-10-20 21:54] pkbullock opened #124 "Script sample for reporting URL in Modern Page Web Parts"
List all the URLs in a modern page of web parts.

I'm taking this one, I have a script somewhere that may be useful for this scenario

[2021-10-23 21:25] #109 closed, assigned to nobody

[2021-10-27 18:13] #111 closed, assigned to ValerasNarbutas

[2021-11-01 11:35] Adam-it commented on #115
ok this is the next one. @pkbullock could you please assign me to this issue 👍

[2021-11-01 19:36] pkbullock commented on #124
This one is complete

[2021-11-01 19:36] #124 closed

[2021-11-01 21:13] Adam-it commented on #116
@pkbullock lets go with the next one 👍👍👍 ... ready, steady 🏃🏁 ... a wait I need to be assigned first 😉

[2021-11-01 21:48] pkbullock commented on #115
Closing - sample complete :-)

[2021-11-01 21:48] #115 closed

[2021-11-01 21:48] pkbullock commented on #113
Closing - sample complete :-)

[2021-11-01 21:48] #113 closed

[2021-11-02 16:17] jimmywim opened #141 "PnP PowerShell - Perform Search & Export Results to CSV"
PnP PowerShell - Perform Search & Export Results to CSV

I have a starter script I use quite often for queries such as "List me all News Posts/Documents/Images/Users with Profile Properties/Sites/etc and give me the results in CSV format".

Submitting PR for my submission for this one.

[2021-11-02 22:31] ValerasNarbutas commented on #114
@hugoabernier , Good afternoon,
i will take this one.

[2021-11-03 20:09] pkbullock commented on #112
Complete :-)

[2021-11-03 20:09] #112 closed

[2021-11-06 09:48] pkbullock commented on #141
Completed 😁

[2021-11-06 09:48] #141 closed

[2021-11-07 22:07] Adam-it commented on #117
@pkbullock I would like to get assigned to this one. Could I get assigned?
BTW did you checkout GitHub Action https://github.com/marketplace/actions/contributor-takes-action
it allows for contributors to assign themselves to an issue when they write some comment to an issue (like "take action") 🤔

[2021-11-09 19:12] pkbullock commented on #116
This one is complete - happy days :-)

[2021-11-09 19:12] #116 closed

[2021-11-10 00:31] Adam-it commented on #118
@pkbullock  please assign me to this one

[2021-11-10 10:40] pkbullock opened #150 "Check for pages multiple samples - PnP PowerShell"
Write a script(s) for reporting on status of pages for the following scenarios:

- Pages in Draft
- Pages Published then in Draft
- Pages with Content Approval enabled and unapproved
- Pages that are News
- Pages that are scheduled

Produce CSV or Excel reports as outputs.

[2021-11-10 10:40] pkbullock commented on #150
Ill be working on this one, at least for the PnP PowerShell side.

[2021-11-10 10:43] pkbullock opened #151 "Scenario based browser"
E.g.

In launching an Intranet
Building a collaboration site with Teams

Showing which scripts could support that goal. Need to think about the scenarios. Once decided:

- Create Page (update the DocFx Plugin)
- Tag Samples for that scenario
- Update navigation

[2021-11-10 21:36] pkbullock commented on #150
Done :-)

[2021-11-10 21:36] #150 closed

[2021-11-17 21:50] Adam-it commented on #118
ok currently it is not supported to do it using m365 CLI.
@pkbullock like last time when I encountered similar problem I opened an issue in CLI repo and maybe I will be working on it as well. But if this will be developed we will need to wait some time for it to be shipped so the question is do we want to close this issue for now and reopen it when this feature will be ready? or we just leave it o

[2021-11-17 21:53] Adam-it commented on #119
ok since I need to wait with the previous item I was thinking I could start working on this one in coming weekend 🤔.
@pkbullock  could I get assigned?

[2021-11-20 21:04] Adam-it commented on #118
ok we will be adding this functionality in this issue to CLI to support it https://github.com/pnp/cli-microsoft365/issues/2833
when this will be added I will add this example. For now lets leave this open 👍

[2021-11-20 21:28] Adam-it commented on #119
Ok I checked this one and it turned out m365 CLI also does not support recycle bin 🤔. So I will create an issue in CLI and try to add this functionality, after that I will get back to this sample. @pkbullock so for now this will be as well on hold 👍 and will start working on adding this functionality

[2021-11-20 21:53] Adam-it commented on #120
@pkbullock the last one also needs to wait for this functionality to be added to m365 CLI. Could I get assigned to this one ?

[2021-11-21 18:25] Adam-it commented on #121
@pkbullock could I get assigned to this one?
it seems this is the last one from the list I added that is either not done nor started 😎.

[2021-11-21 19:33] pkbullock commented on #120
Complete 😊

[2021-11-21 19:33] #120 closed

[2021-11-21 19:33] pkbullock commented on #117
Complete 😊

[2021-11-21 19:33] #117 closed

[2021-11-21 19:34] pkbullock commented on #117
PS thanks for the above link - i thought since you created the issues that you can claim them. I will have a look at the GH action.

[2021-11-21 19:40] pkbullock commented on #151
Assign to me

[2021-11-21 19:43] pkbullock commented on #151
Ill take this issue

[2021-11-21 19:46] pkbullock commented on #151
.take

[2021-11-21 19:58] pkbullock commented on #121
Hi Adam, i' ve installed that plugin you suggested so future claims, use a comment ".take" to claim the issue. See how it goes.

[2021-11-21 20:03] Adam-it commented on #121
@pkbullock  That is so cool 👍
BTW .take

[2021-11-23 00:31] ValerasNarbutas commented on #114
@pkbullock / @Adam-it  looks like this one also not yet possible with CLI,
CLI can only get file sharing info.
Maybe it is worth to have the separate script "get all files in SharePoint library sharing information"

[2021-11-23 08:26] Adam-it commented on #114
I think it is always a good idea to have a new sample 👍.
@ValerasNarbutas did you maybe check if there is some SP REST or graph API endpoint that support this functionality?
Maybe we could add this as a lacking functionality to the m365 cli and add it 🤔

[2021-11-23 16:00] ValerasNarbutas commented on #114
@Adam-it  yeah, i will check for others, for CLI already asked in CLI questions, in repo,
I saw some discussions were already been about inheritance on list items, at least list items with broken inheritance
we will see how it goes :)

[2021-11-24 19:47] ValerasNarbutas commented on #114
Got confirmation from @waldekmastykarz option not yet available, it might be in the future. Maybe  i will contribute myself to cli to have this method. Tried Graph also, but code became too complicated to use in scriptsample.
I would say this issue can be closed for now.
@pkbullock , @Adam-it

[2021-11-24 20:09] Adam-it commented on #114
@ValerasNarbutas sure I agree 👍. Thanks for checking this out. Also I strongly encourage you to open an issue in [CLI](https://github.com/pnp/cli-microsoft365) to add this functionality 👍. If you would like to try but don't know how to start you may always reach out to me and I will try to help you and answer any of your questions (please be aware I am not an m365 CLI pro but I will do my best 😋).

[2021-11-24 20:10] Adam-it commented on #114
ok since I can do it I am closing this issue for now as CLI does not support this functionality 👍 @ValerasNarbutas  thanks again for researching this 👍. You are awesome 👍

[2021-11-24 20:10] #114 closed

[2021-11-24 20:19] ValerasNarbutas commented on #114
Thanks @Adam-it, i will open an issue anyway. i know how to start no worries, not my first rodeo :) and for sure you can try also. No questions from my side. thanks for closing.

[2021-11-24 20:20] ValerasNarbutas commented on #121
nice man!

[2021-11-24 20:22] ValerasNarbutas commented on #121
ups.. lookslike bot took "take" from quote :))) @Adam-it  take it back :)

[2021-11-24 20:25] Adam-it commented on #121
@ValerasNarbutas  I think it is always possible  to unassign yourself at the top ( I guess I don't have enough permission to do it 🤔)
![image](https://user-images.githubusercontent.com/58668583/143308519-c16a9444-a581-4356-af65-715b24853ff8.png)

[2021-11-24 20:39] pkbullock commented on #121
Lol, the boy is being trialed. I might change the trigger word but involves making my own. Which might be cool.

Have unassigned you @ValerasNarbutas

[2021-11-24 20:48] pkbullock commented on #114
Thank you both very much for your time and effort here @ValerasNarbutas @Adam-it really cool to see you pushing the boundaries of the underlying tools where possible.

[2021-11-25 17:40] pkbullock opened #156 "Add ability to share search queries"
Idea stemmed from Kevin, cannot share the search if socialising/emailing filtered data sets.

[2021-12-02 16:44] pkbullock opened #158 "Adjust Script Samples for Power App/Automate Scripts Support"
Make the following adjustments:

- Tabs Show Power App PowerShell (Name TBC)
- Filters can tag sample as a Power App Script not PnP PowerShell
- Icongraphy etc. needs to be added

[2021-12-02 20:56] pkbullock commented on #158
Done :-)

[2021-12-02 20:56] #158 closed

[2021-12-06 14:13] kasperbolarsen opened #160 "Generate a report listing where a specific Term is used"
Prior to maintenance in the Term store it is usually a very good idea to know where a given Term is used.
The script (Powershell) will iterate the site collections , webs and lists, and output a csv file.

[2021-12-06 17:05] pkbullock commented on #160
Hi @kasperbolarsen is this a task that you are working on or a sample idea?

[2021-12-06 17:06] pkbullock commented on #7
Hi @dips365 are you working on this or can i free up for other possible contributors?

[2021-12-06 17:26] kasperbolarsen commented on #160
Hi Paul,

Both I guess :-) I have the script ready and just needs to understand how
to upload it.

Best regards

Kasper

man. 6. dec. 2021 18.05 skrev Paul Bullock ***@***.***>:

[2021-12-06 21:09] ValerasNarbutas commented on #160
hey @kasperbolarsen , i can help you if you want, its is very straightforward

[2021-12-08 06:07] kkazala opened #161 "Export / Import List View and Form customizers"
List views and forms may be configured manually by users, using steps described in

- [Use view formatting to customize SharePoint](https://docs.microsoft.com/en-us/sharepoint/dev/declarative-customization/view-formatting),
- [Show or hide columns in a list or library form](https://docs.microsoft.com/en-us/sharepoint/dev/declarative-customization/list-form-conditional-show-hide) and
- [Configure t

[2021-12-09 07:43] #161 closed

[2021-12-12 20:40] Adam-it commented on #118
ok the new functionality was developed and contributed to CLI I am waiting for new release of CLI which will have this command and then I may prepare a CLI version for this script as well 👍

[2021-12-16 18:03] pkbullock opened #168 "List guests within Teams in a tenant"
Building on the report https://pnp.github.io/script-samples/spo-list-site-externalusers/README.html?tabs=cli-m365-ps
that external users can be identified in SharePoint.

Guests may exist on Teams that have not yet accessed SharePoint. Need to validate if that scenario occurs where they may not be listed in the user list until they access SharePoint.

[2021-12-20 19:56] pkskelly opened #171 "Sample Idea: Inventory Guest User SignIn activity to SharePoint List"
Just blogged about inventory of guest user sign-in activity at https://peteskelly.com/cli-graph-signin-actvity/.  Since this requires a P1 feature, was not sure if this would make the best sample.  Happy to add to this repository if it would add value.

[2021-12-20 20:11] pkbullock commented on #171
This would make a great sample! We can put a note (happy to add that for you) for the dependency.

[2021-12-20 20:25] pkbullock commented on #160
Link to PR #165

[2021-12-20 20:26] pkbullock commented on #160
@kasperbolarsen you happy for me to close now this is live?

[2021-12-20 20:26] pkbullock commented on #118
Closing as you've kindly submitted the same and extended the CLI 👏

[2021-12-20 20:26] #118 closed

[2021-12-20 20:28] kasperbolarsen commented on #160
Hi Paul

By all means, cheers

man. 20. dec. 2021 21.26 skrev Paul Bullock ***@***.***>:

[2021-12-20 20:29] #160 closed

[2021-12-21 13:57] pkskelly commented on #171
I'll set some time aside to create a PR.  Need to read the docs on contributing again :-). Been a while.

[2021-12-21 17:38] #171 closed

[2021-12-23 14:17] Jitenparmar commented on #168
Hello @pkbullock, Can you please assign this script to me? I would like to contribute to this task.

[2021-12-23 14:18] pkbullock commented on #168
Sure - thank you 😊

[2021-12-23 14:46] Jitenparmar commented on #168
Hello @pkbullock, I am contributing for the first time. Can I write a script using Connect-MicrosoftTeams?

[2021-12-23 14:48] pkbullock commented on #168
Sure, technically there are no limits to the tools used, I can always adapt the site to support. If you submit a contribution, i typically make small tweaks anyway to set these up.

[2021-12-23 14:49] Jitenparmar commented on #168
Thank you so much.

[2021-12-24 10:19] Jitenparmar opened #174 "Add SharePoint Large list data to PnP Teamplate"
New Idea - When you create a PnP template list data is not exporting. To resolve this we can create a PnP PowerShell script that will add large list data to PnPTemplate.

[2021-12-24 10:20] Jitenparmar commented on #174
@pkbullock Can you please assign this to me? I would like to work on this.

[2021-12-26 13:27] kasperbolarsen commented on #174
Something like integrating the Add-PnPDataRowsToSiteTemplate function into the Get-PnPSiteTemplate?

[2021-12-26 13:34] kasperbolarsen opened #175 "Extend the existing create-dummy-docs-in-library to handle versioning"
Extend the existing create-dummy-docs-in-library sample to handle creation of a number of major and minor versions per document.

I have the code ready for a PR in a few days

Should it be handled as a new sample or as a change to the existing sample?

[2021-12-27 05:38] Jitenparmar commented on #174
@kasperbolarsen yes this function can help but with the large list, it throws threshold limit error so in that case, I need to write the query in such a way that it should not throw that error.

[2021-12-28 20:06] pkbullock opened #177 "Refactor Tools selection"
Not enough real estate for tools, need to:

- Add Microsoft Teams support
- Switch to Icons

[2021-12-28 20:08] pkbullock commented on #175
Lets create a new sample please. Thank you.

[2021-12-28 20:08] pkbullock commented on #168
This is done in #173

[2021-12-28 20:08] #168 closed

[2021-12-28 20:19] pkbullock opened #178 "Metadata Tweaks to support Master Sample Gallery"
ALL sample.json files must:

- Include full path for image files
- Add tool help to references
- Preview image - ALT text

Update **template.sample.json** to include above

[2021-12-29 06:16] dips365 commented on #36
Could you please assign to me ?

[2021-12-29 06:16] dips365 commented on #7
Working on it !! Will complete it by very soon

[2021-12-29 09:36] pkbullock commented on #121
Closing as complete 😃

[2021-12-29 09:36] #121 closed

[2021-12-29 16:49] ScoutmanPt opened #182 "Any change to add telemetry info on each script sample page?"
Any change to add telemetry info on each script sample page?

[2021-12-30 19:03] pkbullock commented on #182
We collect stats as part of understanding usage within PnP, what are you wanting to surface to the pages?

[2021-12-30 21:37] ScoutmanPt commented on #182
Howdy @pkbullock, I meant having  visual indicators on the scripts gallery ,  like nr views and downloads, similar to what exists in the Microsoft 365 PnP Blog
![image](https://user-images.githubusercontent.com/7837053/147789534-d8369039-9c20-4a4c-99ca-1fbf64099e9a.png)

[2021-12-31 10:01] #19 closed

[2022-01-04 19:15] pkbullock commented on #175
This is complete in PR #184

[2022-01-04 19:15] #175 closed

[2022-01-04 19:16] pkbullock commented on #174
This is complete, closing :-)

[2022-01-04 19:16] #174 closed

[2022-01-05 07:47] kasperbolarsen opened #189 "Sample on how to iterate Site Collections in parallel using foreach-object"
Hi

I have been looking into reducing the execution time when updating a lot of site collections by using Foreach-Object -parallel.

I am not sure if that kind of sample fits the purpose of this repository ?

[2022-01-05 07:53] pkbullock commented on #189
This would be an awesome example, been wanting to learn/investigate more about this approach myself.

If you can submit a sample that would be awesome.

Also, if you interested, @LuiseFreese runs the PnP Tech Community blog, you could consider to submit a blog post on your findings/good and bad points as well.

[2022-01-05 20:36] pkbullock opened #190 "New Script Types Support"
Few more script types to support:

- General PowerShell,
- Microsoft Graph
- Azure AD
- Skype
- Microsoft Dsc
- SPMT
- even SharePoint On-Premises
- Azure CLI
- Azure Pipelines - YAML

To enhance each will need:

- Iconography for each type
- Filters added to select this
- Template Sample.json update
- Template README.md update

[2022-01-07 08:03] pkbullock opened #192 "Download as file feature"
Add feature to each sample script to download as file

- Individual Samples
- All samples by Tool e.g PnP PowerShell
- All samples

[2022-01-09 22:10] pkbullock commented on #178
Right just an update, this is now registered with the master sample gallery site, we are now waiting on the results of the processing. :-)

[2022-01-09 23:10] kasperbolarsen commented on #189
Initial revision read in PR :-)

[2022-01-10 11:34] pkbullock commented on #102
Include the new information for the master sample gallery changes

[2022-01-14 08:04] pkbullock opened #200 "Site Simplification Build Process"
Look into the option of removing the plugin from the build process, there is the option to inject HTML directly into the Markdown pages and manipulations can be moved over to PowerShell before the site is processed by the static generator.

The combinations of the script sample pages into a single file with the string URL manipulations are easily transferred.

The HTML injection, believe this also

[2022-01-14 11:19] pkbullock opened #201 "Search by cmdlet"
- Add to tags of all sample data to search by cmdlet/commands used within the scripts
- Ensure the list is distinct
- Check impact to the master sample gallery

[2022-01-14 11:19] pkbullock commented on #178
This is live! Wahoo!

[2022-01-14 11:19] #178 closed

[2022-01-17 20:00] pkbullock commented on #27
Closing, as this is indicated by the tabs on the page

[2022-01-17 20:00] #27 closed

[2022-01-17 21:44] pkbullock opened #205 "PnP PowerShell Version: Replace a user's membership in selected Microsoft 365 Groups or Teams"
Add PnP PowerShell version to sample:
https://pnp.github.io/script-samples/aad-replace-membership-of-selected-groups/README.html?tabs=cli-m365-ps

[2022-01-17 21:45] pkbullock opened #206 "CLI Version for Create bulk dummy documents in SharePoint Document library"
Add CLI version for:
https://pnp.github.io/script-samples/create-dummy-docs-in-library/README.html?tabs=pnpps

[2022-01-17 21:46] pkbullock opened #207 "PnP PowerShell version to Add multiple folders in libraries using a csv file"
Add PnP PowerShell version for sample:
https://pnp.github.io/script-samples/spo-add-multiple-folders-in-libraries-using-csv-file/README.html?tabs=cli-m365-ps%2Ccli-m365-ps2

[2022-01-17 21:46] pkbullock commented on #156
Closing this as basic feature is in place

[2022-01-17 21:46] #156 closed

[2022-01-18 18:45] Jitenparmar commented on #205
Can you please assign this to me?

[2022-01-18 18:46] Jitenparmar commented on #206
Can you please assign this to me?

[2022-01-18 18:46] Jitenparmar commented on #207
Can you please assign this to me?

[2022-01-18 20:50] Adam-it commented on #119
ok new command added to CLI (`m365 spo site recyclebinitem list`) in order to add the CLI version for this script and added a CLI version for this sample script (PR opened) 👍
This new command in CLI is a good motivation to look dipper in this functionality as it turned out that CLI for M365 till now did not support recycle bin functionality at all 🤩.
Also this PR will close the last issue added wi

[2022-01-19 16:14] reshmee011 commented on #205
@Jitenparmar : Apologies, I saw issue #205 yesterday and wrote the updated PnP PowerShell equivalent and after submitting the PR #212, realised the issue was assigned to you. Hope you have not worked on it yet but if yes I am happy to close my PR.

[2022-01-19 20:41] pkbullock commented on #205
Really sorry both @Jitenparmar @reshmee011 I didn't see this until after I merged @reshmee011 version. Sorry @Jitenparmar.

[2022-01-20 02:51] reshmee011 commented on #205
@pkbullock : Thanks for merging the PR #212 . @Jitenparmar : apologies again. Same I will double check in future too.

[2022-01-23 19:46] Adam-it opened #214 "Add CLI for Microsoft 365 to Get All Apps From The App Catalog And Export It To CSV"
Add CLI for Microsoft 365 equivalent 👨‍💻 -
https://pnp.github.io/script-samples/spo-get-all-apps-from-appcatalog/README.html?tabs=pnpps

[2022-01-23 19:54] Adam-it commented on #214
Assign to me

[2022-01-23 20:00] Adam-it commented on #214
take

[2022-01-23 20:02] Adam-it opened #215 "Add CLI for Microsoft 365 to Delete a library exceeding the list threshold limit. Remove the files and folders before deleting the library"
Add CLI for Microsoft 365 equivalent 👨‍💻 -
https://pnp.github.io/script-samples/spo-remove-large-library/README.html?tabs=pnpps

[2022-01-23 20:04] Adam-it commented on #215
take

[2022-01-27 08:39] kasperbolarsen opened #218 "SharePoint Storage savings report after version trimming"
Some orgs create a lot of content and quickly exceeds the SharePoint storage allocated. In order to minimizing cost this script will specify the current storage and the storage if the number of document versions is reduced.

The idea is that when a site collection is about to be archived ( you do handle the life cycle, right? ) the documents inc all versions are either copied to  low cost  storage

[2022-01-27 17:26] pkbullock commented on #2
The try it functions maybe locked down to a specific location - lets try it though.

[2022-01-27 19:05] pkbullock opened #219 "Fix visual issues on too much text on smaller devices"
![image](https://user-images.githubusercontent.com/8781041/151426646-fad981d5-6e0e-4d2b-9488-0b7bd90aadb0.jpeg)

[2022-01-27 19:06] pkbullock commented on #218
Nice idea! Is this something your working on or a sample suggestion? So I can label it.

[2022-01-27 19:07] #177 closed

[2022-01-27 19:07] pkbullock commented on #189
Closing as done :-)

[2022-01-27 19:07] #189 closed

[2022-01-27 22:05] kasperbolarsen commented on #218
I guess the PR is ready for approval early next week :-)

[2022-01-30 21:25] pkbullock commented on #215
This one is complete and live. Closing. Thank you @Adam-it

[2022-01-30 21:25] #215 closed

[2022-01-30 21:30] pkbullock commented on #214
Closing as this one is also live - thank you @Adam-it

[2022-01-30 21:30] #214 closed

[2022-01-30 22:19] pkbullock commented on #219
This is now fixed

[2022-01-30 22:19] #219 closed

[2022-01-31 19:13] pkbullock commented on #119
Closing this as implemented.

[2022-01-31 19:13] #119 closed

[2022-02-01 12:16] ValerasNarbutas opened #223 "CLI version of Create SharePoint Groups in Bulk using CSV file"
Hey, i add CLI version for this one Create SharePoint Groups in Bulk using CSV file

[2022-02-01 14:13] ValerasNarbutas commented on #223
damn, probably forgot i tried to do this before :(
its not possible with CLI yet, you knew @pkbullock  right? :)

[2022-02-01 14:13] #223 closed

[2022-02-01 14:16] pkbullock commented on #223
Ah no I didn't. Slightly misleading title I may have assumed 365 groups. Sorry about that and thank you for confirming.

[2022-02-01 22:53] kasperbolarsen commented on #218
as per your recommendation I have contacted Luise F and gotten access to the PnP Blog. I expect to write a piece about how to minimize SharePoint Storage cost, using this sample in the article

[2022-02-02 18:03] pkbullock opened #227 "Title and Short Description Overflow issue on large card view"

[2022-02-03 10:06] Ryan365Apps opened #228 "Sample Site card links are pointing to the wrong pages"
In some cases, the cards shown don't link to the correct page when filtered

https://pnp.github.io/script-samples/?query=sharepoint

For example:
The first card
![image](https://user-images.githubusercontent.com/50838643/152320001-d15532ee-9ba9-4c5d-a9a9-43c2ef1bb8ff.png)
links to this page
https://pnp.github.io/script-samples/flow-runs-status-list-dashboard/README.html?tabs=cli-m365-ps

[2022-02-03 10:35] pkbullock commented on #228
Thank you for the spotting this, I have managed to reproduce the problem.

[2022-02-11 04:26] pkbullock commented on #227
fixed

[2022-02-11 04:26] #227 closed

[2022-02-18 10:14] kasperbolarsen opened #236 "Export Document libraries inc folders and versions for selected Site Collections to a Fileshare/drive"
This script will export all files inc folders and versions to a specified Fileshare path.

The structure in the destination path will mimic the structure of the source, Site Collection->Web->Iibrary->Folder->File and File versions

[2022-03-01 15:05] pkbullock commented on #236
Thank you! this is now live, will close :-)

[2022-03-01 15:05] #236 closed

[2022-03-04 08:13] pkbullock commented on #7
Hi @dips365 are you working on this, if not i can release to the community or submit sample myself.

[2022-03-04 08:14] pkbullock commented on #26
Closing this one, i dont overly want to clutter the cards any more

[2022-03-04 08:14] #26 closed

[2022-03-14 20:38] pkbullock opened #247 "Add cloud check of samples"
Need to move the sample checking to an online generator for multiple contributor support

Use GitHub actions to generate a temporary site for testing the build output.
Include validation checks for the JSON file, Tabbing as a starting point.

[2022-03-16 14:33] pkbullock commented on #228
@Ryan365Apps  thanks for raising this, this should now be fixed - I'm closing this issue.

[2022-03-16 14:33] #228 closed

[2022-03-16 14:33] pkbullock commented on #201
Implemented. Closing.

[2022-03-16 14:33] #201 closed

[2022-03-16 15:16] pkbullock commented on #23
Not a strong demand for this, so closing for now.

[2022-03-16 15:16] #23 closed

[2022-03-29 19:09] Jwaegebaert commented on #7
Hey @pkbullock, can I take a shot at this new sample?

[2022-03-29 19:13] pkbullock commented on #7
Sure, please do :-)

[2022-03-30 16:57] #7 closed

[2022-03-31 00:23] Adam-it opened #255 "wrong tech selected"
hi @pkbullock
I was looking for new samples I could rewrite using CLI and I noticed this one
https://pnp.github.io/script-samples/graph-download-office-documents-as-pdf/README.html?tabs=pnpps
I don't think this actually uses PnP.PowerShell 🤔 right?
Maybe we could select some different tech for it? maybe something like MS graph 🤔

[2022-03-31 00:29] Adam-it opened #256 "CLI version of scrip sample undelete items from SharePoint Recycle bin"
CLI sample for https://pnp.github.io/script-samples/bulk-undelete-from-recyclebin/README.html?tabs=pnpps

[2022-03-31 08:16] pkbullock commented on #256
Cool thanks! :-)

[2022-03-31 08:29] pkbullock commented on #255
You're right its just PowerShell, no library used here. Thanks for spotting this one.

In reference to looking for samples ideas, I have a report you might find useful (needs polishing) but it lists out the cmdlet usage for PnP PowerShell, CLI for M365 and shows what is and isnt used in all of the samples.

Report: [https://pnp.github.io/script-samples/cmdusage.html](https://pnp.github.io/script-s

[2022-03-31 16:08] Adam-it commented on #255
Wow the report page is amazing 🤩. Thanks for sharing. 👍
Totally will be helpful to get some inspiration on some new samples to show what is possible.
For example I see still have much to show in terms of yammer or Todo.

[2022-04-05 08:32] pkbullock commented on #255
Closing this one as it is complete.

[2022-04-05 08:32] #255 closed

[2022-04-06 18:07] Jitenparmar commented on #205
@pkbullock @reshmee011  No Need to apologize.

[2022-05-04 18:14] pkbullock opened #266 "Update sample.json files to new schema"
https://github.com/pnp/m365-sample-gallery/blob/main/system/sample.schema.json

Convert all samples to new Download URL for the Unified Gallery

Extension - add support for downloading the sample files

[2022-05-04 21:22] Adam-it opened #267 "CLI version for Testing user preferred language of SharePoint site"
👋 hi,
 The aim 🎯 of this issue is to add CLI for M365 version for the script 👉https://pnp.github.io/script-samples/user-language-for-site/README.html?tabs=pnpps

[2022-05-04 21:24] Adam-it commented on #267
Assign to me,
take,
take action,
... I really forgot the magic word 🤔😜. pretty please assign me to this issue 🤔

[2022-05-09 18:20] pkbullock commented on #267
Hi Adam, I have added permissions for you to manage issues, you are a regular contributor so happy to elevate you :-) so you can assign to yourself, the plugin will be disabled its too flaky.

[2022-05-09 18:27] pkbullock commented on #256
Closing this, as this is merged :-)

[2022-05-09 18:27] #256 closed

[2022-05-09 18:45] pkbullock opened #269 "Processing awesome ideas in this thread"
https://twitter.com/pkbullock/status/1521913632866586630?s=20&t=pGNXHDuBG9sjA2mHtcnFKg

For information on improvements, so this isn't lost in the Twitterverse

[2022-05-09 18:46] Adam-it commented on #267
WoW 🤩🤩. Thanks a lot 😁. You rock 👍

[2022-05-15 17:59] pkbullock commented on #267
Closing as completed.

[2022-05-15 17:59] #267 closed

[2022-05-22 18:48] Adam-it opened #272 "CLI for M365 version for script "Apply column format to SharePoint column""
🎯Aim
The aim of this issue would be to add a [CLI for M365](https://pnp.github.io/cli-microsoft365/) version of script [Apply column format to SharePoint column](https://pnp.github.io/script-samples/spo-apply-column-format/README.html?tabs=pnpps).

🤔How
I think one of the best approach would be to use [field-set](https://pnp.github.io/cli-microsoft365/cmd/spo/field/field-set/) and [field-get](http

[2022-05-22 18:52] Adam-it commented on #272
@pkbullock I know I could do it myself but I don't want to step in anyone's shoes (I hope there is a saying like this also in English 😅)... anyway I think we could label this as 'good first issue' if you agree 😉. And if anyone will need any help I am always more than happy to do so 😉. And if this will get old (like 2-3 weeks without a take), I will do it myself 🙂

[2022-05-22 18:57] Adam-it opened #273 "CLI for M365 version for script "Copy a library view across multiple libraries in destination site""
🎯Aim
The aim of this issue would be to add a [CLI for M365](https://pnp.github.io/cli-microsoft365/) version of script [Copy a library view across multiple libraries in destination site](https://pnp.github.io/script-samples/spo-copy-library-view/README.html?tabs=pnpps).

🤔How
I think one of the best approach would be to use the following commands:
- [list-view-get](https://pnp.github.io/cli-micros

[2022-05-22 19:02] Adam-it opened #274 "CLI for M365 version for script "Bulk library generation""
🎯Aim
The aim of this issue would be to add a [CLI for M365](https://pnp.github.io/cli-microsoft365/) version of script [Bulk library generation](https://pnp.github.io/script-samples/spo-create-bulk-libraries/README.html?tabs=pnpps).

🤔How
I think one of the best approach would be to use the following commands:
- [field-add](https://pnp.github.io/cli-microsoft365/cmd/spo/field/field-add/)
- [list-a

[2022-05-22 19:06] Adam-it opened #275 "CLI for M365 version for script "Export SharePoint List Data to CSV with attachments""
🎯Aim
The aim of this issue would be to add a [CLI for M365](https://pnp.github.io/cli-microsoft365/) version of script [Export SharePoint List Data to CSV with attachments](https://pnp.github.io/script-samples/spo-export-sharepoint-list-items-to-csv/README.html?tabs=pnpps).

🤔How
I think one of the best approach would be to use the following commands:

- [field-get](https://pnp.github.io/cli-micro

[2022-05-22 19:14] Adam-it opened #276 "CLI for M365 version for script "Get SharePoint List Fields With Required properties And Export It To CSV""
🎯Aim
The aim of this issue would be to add a [CLI for M365](https://pnp.github.io/cli-microsoft365/) version of script [Get SharePoint List Fields With Required properties And Export It To CSV](https://pnp.github.io/script-samples/spo-get-and-export-list-fields/README.html?tabs=pnpps).

🤔How
I think one of the best approach would be to use the following commands:

- [field-get](https://pnp.github.

[2022-05-22 19:23] Adam-it opened #277 "CLI for M365 version for script "Get SharePoint List Or Library Permissions And Export It To CSV""
🎯Aim
The aim of this issue would be to add a [CLI for M365](https://pnp.github.io/cli-microsoft365/) version of script [Get SharePoint List Or Library Permissions And Export It To CSV](https://pnp.github.io/script-samples/spo-get-list-library-permission-export-to-csv/README.html?tabs=pnpps).

🤔How
I think one of the best approach would be to use the following commands:
- [list-get](https://pnp.git

[2022-05-22 19:26] Adam-it opened #278 "CLI for M365 version for script "Run A Search Query And Export To CSV""
🎯Aim
The aim of this issue would be to add a [CLI for M365](https://pnp.github.io/cli-microsoft365/) version of script [Run A Search Query And Export To CSV](https://pnp.github.io/script-samples/spo-search-export-to-csv/README.html?tabs=pnpps).

🤔How
I think one of the best approach would be to use the following commands:
- [search](https://pnp.github.io/cli-microsoft365/cmd/spo/spo-search/)

[2022-05-22 19:29] Adam-it opened #279 "CLI for M365 version for script "Fetch User Profile Properties From Site Collection And Export To CSV""
🎯Aim
The aim of this issue would be to add a [CLI for M365](https://pnp.github.io/cli-microsoft365/) version of script [Fetch User Profile Properties From Site Collection And Export To CSV](https://pnp.github.io/script-samples/fetch-user-profile-properties/README.html?tabs=pnpps).

🤔How
I think one of the best approach would be to use the following commands:
- [user-get](https://pnp.github.io/cli-

[2022-05-22 19:33] Adam-it opened #280 "CLI for M365 version for script "Create bulk dummy documents, including minor/major versions, in SharePoint Document library""
🎯Aim
The aim of this issue would be to add a [CLI for M365](https://pnp.github.io/cli-microsoft365/) version of script [Create bulk dummy documents, including minor/major versions, in SharePoint Document library](https://pnp.github.io/script-samples/create-dummy-docs-versions-in-library/README.html?tabs=pnpps).

🤔How
I think one of the best approach would be to use the following commands:

- [fold

[2022-05-22 19:37] Adam-it opened #281 "CLI for M365 version for script "Reset files permissions unique to Inherited""
🎯Aim
The aim of this issue would be to add a [CLI for M365](https://pnp.github.io/cli-microsoft365/) version of script [Reset files permissions unique to Inherited](https://pnp.github.io/script-samples/reset-files-permission-unique-to-inherited/README.html?tabs=pnpps).

🤔How
I think one of the best approach would be to use the following commands:

- [folder-get](https://pnp.github.io/cli-microsoft

[2022-05-23 04:19] SmitaNachan commented on #278
Hi @Adam-it, @pkbullock
Can I work on this?

[2022-05-23 04:23] Adam-it commented on #278
@SmitaNachan all yours. Thanks for your help!
You rock 🤩

[2022-05-23 07:17] pkbullock commented on #272
Thank you @Adam-it - your not stepping on anyones shoes at all, really like what you are doing and thank you for the great sample ideas!

[2022-05-23 18:19] pkbullock opened #283 "Maintenance for help and cmdlet checks"
Recent push for help files revealed a change in the CLI cmdlets - eg. rename of the delete to remove, since last check in.

This is a good example of a check to update samples based on renaming. Need to figure best way to handle this.
Speak to the team.

Example: https://github.com/pnp/script-samples/commit/22ca8e427dbf8a41637c7f6090e4ef7679278ee2

[2022-05-23 18:23] pkbullock opened #284 "Automate the cmdlet help update"
Idea:

- Explore the GIT submodule command to link sections of the repo to the help articles in the three (or more) repos where the cmdlet help originates.
- Update the Get-HelpJson.ps1 to process from these alternative locations
- Create a GitHub Action to process once a week with notification of the delta changes.
- Check in or auto PR if there are changes only. (or it will trigger a new build)

[2022-05-25 18:46] pkbullock commented on #102
Cancelling this one.

[2022-05-25 18:46] #102 closed

[2022-05-25 21:33] Adam-it opened #285 "🆕CLI for M365 new sample script idea - move a SharePoint list and its contents from one tenant to another"
🎯Aim
The aim of this issue would be to add a totally new sample script that will migrate a SharePoint list and it's contents from one tenant to another. Use [CLI for M365](https://pnp.github.io/cli-microsoft365/)

🤔Things to consider
We should consider not only transferring list, columns, and data but also all possible options a user may set considering also the permissions.

[2022-05-26 10:46] nanddeepn commented on #276
Hi @Adam-it, @pkbullock
Can I work on this?

[2022-05-26 10:48] pkbullock commented on #276
Go for it, I'll assign to you :-)

[2022-05-26 11:15] Adam-it commented on #276
@nanddeepn you rock 🤩

[2022-05-26 21:54] milanholemans commented on #274
I'm willing to work on this one.

[2022-05-26 21:56] Adam-it commented on #274
thanks @milanholemans 👍
You rock 🤩

[2022-05-27 08:44] Jwaegebaert commented on #272
I can give this one a shot 😄

[2022-05-27 09:24] Adam-it commented on #272
@Jwaegebaert you rock 🤩.
All yours 👍
Thanks for your help

[2022-05-27 18:35] #278 closed

[2022-05-27 18:49] #276 closed

[2022-05-28 07:58] #274 closed

[2022-05-28 19:01] Adam-it opened #291 "🆕CLI for M365 new sample script idea - install solution and deploy to the SharePoint site."
### 🎯Aim
The aim of this issue would be to add a totally new sample script that would be a perfect use case for a CI/CD pipeline. The script should login to tenant (best using certificate not credentials in order to be pipeline ready 😉) and upload the solution to the app catalog and deploy it to any SharePoint site.
Use [CLI for M365](https://pnp.github.io/cli-microsoft365/)

### 🤔Things to consid

[2022-05-30 07:49] nanddeepn commented on #281
Can I work on this?

[2022-05-30 13:43] Adam-it commented on #281
sure.
@nanddeepn thanks for your work 👍. You rock 🤩
Assigned ✔

[2022-06-01 11:01] reshmee011 commented on #273
I can look into it

[2022-06-01 15:02] MathijsVerbeeck commented on #279
@pkbullock I could work on this one

[2022-06-01 15:39] pkbullock commented on #279
Absolutely! Thank you!

[2022-06-01 23:04] Adam-it commented on #273
sure 👍
Can't wait to see the PR.
You rock 🤩

[2022-06-01 23:07] Adam-it commented on #277
@nanddeepn totally 👍 You rock 🤩🤩

[2022-06-02 16:13] milanholemans opened #296 "New sample script idea - Clone a Planner plan"
Idea is to create a script that clones a Planner plan. It will create a new plan, buckets and tasks based on a template plan. This is currently possible via the UI, but not by code as far as I know.

[2022-06-02 16:14] milanholemans commented on #296
If this is ok, I'd like to work on this.

[2022-06-02 20:56] MathijsVerbeeck commented on #280
@pkbullock I could work on this one 😄

[2022-06-02 23:02] Adam-it commented on #280
I don't see why not 😉. Assigned ✅
Thank you for your help 👍
You rock 🤩

[2022-06-03 09:54] Jwaegebaert opened #298 "[Bug] CLI M365 samples - `m365 status` invalid condition check"
When we use CLI for Microsoft 365 within PowerShell we shouldn't forget to convert our output to an object. Most samples start off by doing a `m365 status` check to see if they are still logged in to their Microsoft 365 environment. Which looks something like this.

[code]

The if condition here will always be false because we aren't converting the output of `m365 status` to an object.

![afbeeldi

[2022-06-03 09:55] Jwaegebaert commented on #298
I am willing to work on this one.

[2022-06-03 12:23] nanddeepn commented on #291
Hi @Adam-it
Can I work on this?

[2022-06-03 13:58] Adam-it commented on #291
Sold !🤩🤩🤩
Can't wait to see the PR. Let me know if you will need any help with that one 👍

[2022-06-03 18:20] #272 closed

[2022-06-03 18:35] #281 closed

[2022-06-04 11:12] Adam-it commented on #298
@Jwaegebaert good catch 👍👍
you rock 🤩

[2022-06-04 11:13] Adam-it commented on #296
@milanholemans do you plan to add CLI version of this 👀?

[2022-06-04 12:03] milanholemans commented on #296
Yes, first version of the script will be for CLI. The PnP.PowerShell version will follow later.

[2022-06-05 19:15] pkbullock commented on #298
This is quite wide spread - thank you for looking at this, I don't typically check the scripts - perhaps something I should start to do. Appreciate yours and @Adam-it help. Let me know if you need any support.

I will list any new samples that show this pattern - it seems like quite a few folks use that pattern.

[2022-06-05 19:24] pkbullock commented on #298
Another method (after checking to see how widespread this is) is using "-Match" instead of "-eq". Would this be an easier change?

![image](https://user-images.githubusercontent.com/8781041/172067138-45e0aaf7-24f3-4743-8a47-52432a2b00e8.png)

I saw this btw in an article I read recently: https://techcommunity.microsoft.com/t5/microsoft-365-pnp-blog/monitor-and-notify-m365-health-using-cli-for-micr

[2022-06-05 19:28] #277 closed

[2022-06-05 19:39] #296 closed

[2022-06-05 21:16] Adam-it commented on #298
or another way is by adding the output mode to text how it was before by default 😉. TBH the origin of this bug (that's what I suspect as I am also one of the contributors that used this approach extensively at the time 😋) is that in CLI repo we introduced a breaking change here 👉 https://github.com/pnp/cli-microsoft365/pull/2602.
The default output mode started to be json not text which actually b

[2022-06-07 09:15] Jwaegebaert commented on #298
Good point to check the CLI for M365 version within the `sample.json` files. The default output change happened as of v4. I do think it is interesting to keep the last tested version of the sample.
If we use the `-match` comparison, as @pkbullock suggested, we capture all the output types. With this, we won't need to update the version of CLI for M365.

[2022-06-07 21:48] MathijsVerbeeck commented on #279
@Adam-it  @pkbullock  This issue may be closed I think

[2022-06-08 10:07] nanddeepn commented on #275
Hi @Adam-it, @pkbullock
Can I work on this?

[2022-06-08 10:12] pkbullock commented on #275
Sure, thank you, I'll assign it to you.

[2022-06-09 23:22] Adam-it opened #305 "CLI for M365 version for script "SharePoint Modern Page Publishing Report""
🎯Aim
The aim of this issue would be to add a [CLI for M365](https://pnp.github.io/cli-microsoft365/) version of script [SharePoint Modern Page Publishing Report](https://pnp.github.io/script-samples/spo-modern-page-publishing-report/README.html?tabs=pnpps).

🤔How
I think one of the best approach would be to use the following commands:

- [listitem-list](https://pnp.github.io/cli-microsoft365/cmd/s

[2022-06-09 23:24] Adam-it opened #306 "CLI for M365 version for script "Set Home site for SharePoint tenant""
🎯Aim
The aim of this issue would be to add a [CLI for M365](https://pnp.github.io/cli-microsoft365/) version of script [Set Home site for SharePoint tenant](https://pnp.github.io/script-samples/spo-set-home-site/README.html?tabs=pnpps).

🤔How
I think one of the best approach would be to use the following commands:

- [homesite-set](https://pnp.github.io/cli-microsoft365/cmd/spo/homesite/homesite-s

[2022-06-09 23:28] Adam-it opened #307 "CLI for M365 version for script "Bulk Create Teams with JSON File""
🎯Aim
The aim of this issue would be to add a [CLI for M365](https://pnp.github.io/cli-microsoft365/) version of script [Bulk Create Teams with JSON File](https://pnp.github.io/script-samples/teams-bulk-create-teams/README.html?tabs=pnpps).

🤔How
I think one of the best approach would be to use the following commands:

- [o365group-add](https://pnp.github.io/cli-microsoft365/cmd/aad/o365group/o365g

[2022-06-09 23:41] Adam-it opened #308 "CLI for M365 version for script "Reports to Excel where the specified Term is used""
🎯Aim
The aim of this issue would be to add a [CLI for M365](https://pnp.github.io/cli-microsoft365/) version of script [Reports to Excel where the specified Term is used](https://pnp.github.io/script-samples/ReportTermUse/README.html?tabs=pnpps).

🤔How
I think one of the best approach would be to use the following commands:

- [listitem-get](https://pnp.github.io/cli-microsoft365/cmd/spo/listitem/

[2022-06-09 23:46] Adam-it opened #309 "CLI for M365 version for script "Copy a library view across multiple libraries in destination site""
🎯Aim
The aim of this issue would be to add a [CLI for M365](https://pnp.github.io/cli-microsoft365/) version of script [Copy a library view across multiple libraries in destination site](https://pnp.github.io/script-samples/spo-copy-library-view/README.html?tabs=pnpps).

🤔How
I think one of the best approach would be to use the following commands:

- [list-view-get](https://pnp.github.io/cli-micro

[2022-06-10 06:20] SmitaNachan commented on #306
Hi,
Can I work on it?

[2022-06-10 07:44] Adam-it commented on #306
@SmitaNachan all yours 👍👍👍.
Thanks for stepping up 😍 you rock 🤩

[2022-06-10 09:11] nanddeepn commented on #307
Hi @Adam-it, @pkbullock
Can I work on this?

[2022-06-10 10:06] Adam-it commented on #307
Sold 😊

[2022-06-10 13:17] ValerasNarbutas commented on #308
@Adam-it  i will take on this one

[2022-06-10 13:18] ValerasNarbutas commented on #285
@Adam-it  this one interesting also, i can take it

[2022-06-10 13:50] Adam-it commented on #308
Cool 👍. Thanks @ValerasNarbutas .
You rock 🤩

[2022-06-10 13:52] Adam-it commented on #285
Nice 👍👍
You rock 🤩
Assigned

[2022-06-13 19:04] #280 closed

[2022-06-15 07:17] #275 closed

[2022-06-15 07:20] pkbullock opened #315 "Check the breakpoint CSS for the cards - smaller view there is some overlapping"
![image](https://user-images.githubusercontent.com/8781041/173766945-f8bbb6cb-ed6f-4722-af00-740e49560a76.png)

[2022-06-19 21:13] #307 closed

[2022-06-19 21:18] #306 closed

[2022-06-22 06:40] reshmee011 opened #317 "PnP Powershell version for Copy Planner plan"
An equivalent PnP PowerShell to Copy Planner Plan for planner-copy-planner-plan would be good.

I can work on it if approved.

[2022-06-22 08:44] Adam-it commented on #309
@reshmee011 thanks for noticing 👍. Closed then 😅

[2022-06-22 08:44] #309 closed

[2022-06-26 09:39] nanddeepn commented on #305
Hi @Adam-it, @pkbullock
Can I work on this?

[2022-06-26 09:41] Adam-it commented on #305
@nanddeepn all yours 👍👍

[2022-06-27 07:03] #273 closed

[2022-06-27 18:47] #298 closed

[2022-07-06 19:15] #305 closed

[2022-07-06 19:47] pkbullock commented on #317
Please do, I will assign this :-)

[2022-07-06 19:47] pkbullock commented on #317
ps, let me know if you no longer want to, just saw its 15 days old - opps. Sorry.

[2022-07-06 20:14] pkbullock opened #325 "Sample Update - PnP PowerShell - Add a document library web part to a page"
This sample is using the older cmdlets, update will be needed:
https://pnp.github.io/script-samples/spo-add-document-library-webpart-to-page/README.html

Older cmdlets:
Add-PnPClientSidePage, Add-PnPClientSidePageSection, Add-PnPClientSideText, Add-PnPClientSideWebPart, Get-PnPClientSidePage

[2022-07-06 20:24] pkbullock opened #326 "Update needed - SPO Management Shell - Create and add list template to SharePoint site"
Example: https://pnp.github.io/script-samples/spo-add-list-template-with-custom-library/README.html?tabs=spoms-ps

 Get-SPOListDesign - no longer exists, the sample will break with the latest version of SPO Management Shell.

Reference to use: https://docs.microsoft.com/en-us/sharepoint/lists-custom-template

[2022-07-20 19:52] #317 closed

[2022-07-21 18:56] pkbullock opened #335 "Add Security Category"
- Add in the filters security category to see all security related scripts e.g., external sharing, guests, owners, user management etc.
- Modify the DocFx Plugin with new category
- Update all relevant script samples with security category.

[2022-07-21 19:28] #335 closed

[2022-07-26 13:22] rajaseg opened #340 "How to save Stream videos CSV report?"
I want to export the Stream videos to a CSV file. When I run the below script the results are displayed in the command prompt. How to export the results to the CSV file.

https://pnp.github.io/script-samples/stream-report-videos/README.html?tabs=pnpps2

![image](https://user-images.githubusercontent.com/633479/181016151-a14cbf97-e076-472f-9527-cc9404eec0dc.png)

[2022-07-26 15:30] Jwaegebaert commented on #340
At the start of the `PnP PowerShell Alternative` sample you can adjust the parameter `OutputCsvFileName`  to true. That should output your result to a CSV file.

For example: If save the script to a new file named `example.ps1`. When you want to execute it and change the parameter `OutputCsvFileName` to true you could run the following command: `.\example1.ps1  -OutputCsvFileName $true`. This shou

[2022-07-26 15:55] rajaseg commented on #340
@Jwaegebaert, Thank you very much for the tip. Everything is working as expected.

[2022-07-26 15:55] #340 closed

[2022-07-29 07:15] rajaseg commented on #340
@Jwaegebaert, Is it possible to use the session already open for login purpose?

[2022-07-29 07:40] Jwaegebaert commented on #340
@rajaseg, could you please clarify what you mean with an already open session?

[2022-07-29 07:48] rajaseg commented on #340
@Jwaegebaert, When we run the script, it will pop up the login screen for Microsoft Stream? Is it possible to use the session If I already connected to Microsoft Stream?

[2022-08-01 22:02] ToddKlindt commented on #325
Pull request, https://github.com/pnp/script-samples/pull/342

[2022-08-08 09:50] Jwaegebaert commented on #340
Not to my knowledge. Maybe @teamneroblanco can give more insight towards your question.

[2022-08-09 06:36] michaelmaillot opened #344 "New sample script idea - Retrieve AAD delegated / application permission for MS App"
I didn't found anything related to this, so here's my suggestion. Based on the permission name ("Sites.Read.All"), the Microsoft App ("Microsoft Graph" / "SharePoint Online" / ...) and the permission type ("Application" / "Delegated"), the script would be able to retrieve info about permissions.

The script would accept partial permission name info, like "Sites.Read" or even just "Read", then woul

[2022-08-09 08:17] pkbullock commented on #344
Yes please, sounds like an awesome sample 😃

[2022-08-10 10:45] KANNIBALAMK opened #346 "m365' is not recognized"
The term 'm365' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was
included, verify that the path is correct and try again.

[2022-08-14 18:57] #344 closed

[2022-08-16 17:10] pkbullock commented on #346
Please install CLI for Microsoft 365 - https://pnp.github.io/cli-microsoft365/

[2022-08-16 17:21] #247 closed

[2022-08-31 22:14] elimigdal opened #350 "Getting "ExecuteQuery" with "0" argument(s): "Cannot invoke method or retrieve property from null object. Object returned by the following call stack is null. "GetById FieldLinks"
my case is that my TITLE is "not required" + i have removed it from the default view + removed it from the "columns" of the new button ( by using edit column)

would love a solution
thanks

[2022-09-01 07:29] elimigdal opened #351 "i cant use it when i have a "non required" title :-("

[2022-09-03 13:23] pkbullock commented on #351
Please describe - which script you are referring to?

[2022-09-03 13:23] pkbullock commented on #350
Please can you describe the script you are referring to?

[2022-09-03 13:24] pkbullock commented on #346
Closing :-)

[2022-09-03 13:24] #346 closed

[2022-09-08 19:41] pkbullock commented on #350
Closing as no response.

[2022-09-08 19:41] #350 closed

[2022-09-08 19:41] pkbullock commented on #351
Closing as no response.

[2022-09-08 19:41] #351 closed

[2022-09-08 19:43] pkbullock commented on #325
Closing as completed

[2022-09-08 19:43] #325 closed

[2022-09-10 08:36] pkbullock opened #354 "Review cmdlet tagging"
- Ensure that Graph is included
- There arent any untagged samples with cmdlets missing

[2022-09-14 15:53] #354 closed

[2022-09-25 07:39] Adam-it commented on #308
@ValerasNarbutas any update on this issue? 🙂
Are you still working on it? If you are blocked on some level maybe you want to bring the problem up and we could recheck/rediscuss it here? 🤔
Or if you currently are unable to continue this one maybe we could open this up for someone else? 👍

[2022-09-25 07:39] Adam-it commented on #285
@ValerasNarbutas any update on this issue? 🙂
Are you still working on it? If you are blocked on some level maybe you want to bring the problem up and we could recheck/rediscuss it here? 🤔
Or if you currently are unable to continue this one maybe we could open this up for someone else? 👍

[2022-09-25 07:41] Adam-it commented on #279
Closing this one as it was already done some time ago 🙂. Seem like an leftover issue 🤔.
Once again thanks @MathijsVerbeeck for you awesome work 🤩🤩

[2022-09-25 07:41] #279 closed

[2022-09-25 08:07] Adam-it opened #357 "CLI for M365 version for script "Download contents of Document library as PDF""
## 🎯Aim
The aim of this issue would be to add a [CLI for M365](https://pnp.github.io/cli-microsoft365/) version of script [Download contents of Document library as PDF](https://pnp.github.io/script-samples/graph-download-office-documents-as-pdf/README.html?tabs=pnpps).

## 🤔How
I think one of the best approach would be to use
- [request](https://pnp.github.io/cli-microsoft365/cmd/request/) command

[2022-09-25 12:28] Adam-it opened #358 "CLI for M365 version for script "Delete orphaned temporary site pages""
## 🎯Aim
The aim of this issue would be to add a [CLI for M365](https://pnp.github.io/cli-microsoft365/) version of script [Delete orphaned temporary site pages](https://pnp.github.io/script-samples/spo-delete-orphaned-temporary-sitepages/README.html?tabs=pnpps).

## 🤔How
I think one of the best approach would be to use
- [spo page list](https://pnp.github.io/cli-microsoft365/cmd/spo/page/page-list

[2022-09-25 12:30] Adam-it opened #359 "CLI for M365 version for script "Export Term Store terms to CSV""
## 🎯Aim
The aim of this issue would be to add a [CLI for M365](https://pnp.github.io/cli-microsoft365/) version of script [Export Term Store terms to CSV](https://pnp.github.io/script-samples/spo-export-termstore-terms-to-csv/README.html?tabs=pnpps).

## 🤔How
I think one of the best approach would be to use
- [spo term list](https://pnp.github.io/cli-microsoft365/cmd/spo/term/term-list/)
- [spo te

[2022-09-25 18:05] martinlingstuyl commented on #357
Nice idea @Adam-it, and you're correct. It's very easy to use the `request` command for this.

[2022-09-26 07:17] kasperbolarsen opened #360 "Pnp Powershell script for creating a Quick Links web part from a SharePoint List"
Creating a page and configure the Quick Links web part and then use the PnP provisioning tool to deploy it where needed is pretty easy. However updating an existing Quick Links web part or creating it based on a reference list/csv or similar is a royal pain in the neck.
This script will provide a basic setup for creating the web part on the fly using a SharePoint list as a data provider

[2022-09-27 12:00] reshmee011 commented on #359
Please assign to me.

[2022-09-27 12:01] reshmee011 commented on #358
Please assign to me:)

[2022-09-27 12:04] pkbullock commented on #358
Thank you @reshmee011 here as well 😃

[2022-09-29 13:54] Sympraxis-Consulting opened #364 "Add recursion to spo-export-termstore-terms-to-csv"
@AhmadiRamin Thanks for this script!

It would be great if this script exported all the terms to whatever depth they exist.
https://github.com/pnp/script-samples/tree/main/scripts/spo-export-termstore-terms-to-csv

For example:
  Region
    Country
      State
As a hierarchy.

I may make a PR with this change, but I wanted to add it as an issue first.

[2022-09-29 13:55] sympmarc commented on #364
Sorry - this was from me, not Sympraxis.

[2022-10-01 18:47] #359 closed

[2022-10-01 18:48] pkbullock commented on #360
ref #362 complete and closing.

[2022-10-01 18:48] #360 closed

[2022-10-08 06:35] pkbullock commented on #308
Hi @ValerasNarbutas - I'm going to unassign it to allow others to contribute to this, please let us know if you are working on this :-)

[2022-10-08 06:37] pkbullock commented on #206
Hi @Jitenparmar - I'm going to release for others to contribute to, please let us know if you are planning on working on this one :-)

[2022-10-08 06:40] pkbullock commented on #285
Hi @ValerasNarbutas - unassigning this one, please let us know if you would like to work on this one. Thank you. 😁

[2022-10-08 06:41] pkbullock commented on #326
Hi @Jitenparmar - will you be working on this one or can I release to the community?

[2022-10-08 12:56] reshmee011 commented on #358
@Adam-it : Hope you are doing o.k., wonder if you can help with the [spo page list](https://pnp.github.io/cli-microsoft365/cmd/spo/page/page-list/) commadlet. When I am running the commandlet in PowerShell using the ConvertFrom-Json to help with manupilating the data, I am getting the following error _"ConvertFrom-Json : Cannot convert the JSON string because a dictionary that was converted from
t

[2022-10-08 20:39] Adam-it commented on #358
@reshmee011 thanks for reaching out 🙂 Your rock 🤩🤩
Yes there is a hack/trick around it. Simply replace one `id` with `_id` and then convert. You may do all this in one line like
`m365 spo page list --webUrl "https://reshmeeauckloo.sharepoint.com/sites/Estimator" | ForEach-Object { $_.replace("Id", "_Id") } | ConvertFrom-Json`

Hope that helps 👍
Let me know if I may help you in any different kind o

[2022-10-10 13:29] Jitenparmar commented on #326
Hello, @pkbullock apologies for the delay I will complete this by this weekend. Thanks for the reminder.

[2022-10-10 13:35] Jitenparmar commented on #326
@pkbullock I am not able to find the first link? is it removed from the script samples?

[2022-10-10 20:08] kasperbolarsen opened #369 "Sample showing how to ensure that office docs will open in the client rather than the browser"

[2022-10-10 20:12] kasperbolarsen opened #370 "Script that locates pages where the classic search result is used AND the remove duplicates option (default) has not yet been disabled"

[2022-10-15 13:37] reshmee011 opened #373 "PnP Script reset-files-permission-unique-to-inherited throws list exceeds threshold for large libraries"
PnP PowerShell script reset-files-permission-unique-to-inherited throws list exceeds threshold for large libraries. I have an alternate version to work with large libraries
`
try
{
   Get-PnPListItem -List $ListName -PageSize 2000 | Where {$_.FieldValues.FileRef -like "$FolderServerRelativePath*" -and $_.FileSystemObjectType -eq "File" } | ForEach-Object {
     $hasUniqueRole = Get-PnPProperty -Cl

[2022-10-17 07:03] kasperbolarsen commented on #369
@pkbullock   this idea is too similar to https://pnp.github.io/script-samples/spo-activate-site-feature to add it as a new sample, doen't you agree?

[2022-10-17 07:50] pkbullock commented on #369
Hi

Although similar, they do very different things. I'd add as new sample.

Paul

Sent from Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Kasper Larsen ***@***.***>
Sent: Monday, October 17, 2022 8:03:33 AM
To: pnp/script-samples ***@***.***>
Cc: Paul Bullock ***@***.***>; Mention ***@***.***>
Subject: Re: [pnp/script-samples] Sample showing how to ensure that offi

[2022-10-17 10:07] kasperbolarsen commented on #369
OK, added :-)

Kasper

[2022-10-17 10:07] kasperbolarsen commented on #370
Ready for review and merge

Kasper

[2022-10-17 19:37] Adam-it commented on #308
I guess no pressure 👍. This is open source after all so we do it when/if we can 😉.
You are awesome 🤩

[2022-10-18 06:46] reshmee011 commented on #358
@Adam-it : The trick did the job though you would not expect duplicate Id fields with different case, hopefully I will finish working on the sample script for cli m365 soon.

[2022-10-18 06:54] Adam-it commented on #358
No rush 👍. Thanks for your awesome contributions.  You rock 🤩

[2022-10-18 20:54] #369 closed

[2022-10-18 20:54] pkbullock commented on #370
Included in submission #374

[2022-10-18 20:54] #370 closed

[2022-10-18 21:36] #358 closed

[2022-10-20 08:40] kasperbolarsen opened #380 "Sample showing how to apply a custom Form Formatting as part of your Site Provisioning"
As this kind of formatting is currently not supported by the PnP Provisioning Engine this sample will show how to use an Azure Function to apply the formatting to your sites

[2022-10-20 08:54] garrytrinder opened #381 "Bug: Language tab has inconsistent naming of `CLI for Microsoft 365`"
I've seen this on the sample https://pnp.github.io/script-samples/todo-cleanup-completed-todos/README.html?tabs=m365cli-bash

The PowerShell tab is named correctly, however the bash tab is incorrect, it displays `Microsoft 365 CLI with bash` but should be CLI for Microsoft 365 with bash`.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/11563347/196902312-649b459b-27d6

[2022-10-20 10:35] pkbullock commented on #381
I'm fired lol, I'll update on my next contribution window. 😎

[2022-10-22 08:48] pkbullock commented on #380
Closing as live :-)

[2022-10-22 08:48] #380 closed

[2022-10-25 20:33] #381 closed

[2022-11-07 13:26] kasperbolarsen opened #391 "Idea: Iterate all site collections and create report about template, lockstate, groupid, LastModified etc"
Hi, I have looked for an existing sample for such a inventory but so far haven't found one

[2022-11-10 21:41] pkbullock commented on #391
Hi Kasper, sorry I missed this, looks like an awesome sample idea. :-)

[2022-11-19 12:34] kasperbolarsen commented on #391
Ready for review :-)

[2022-11-19 17:01] kasperbolarsen commented on #326
@Jitenparmar the link seems to work just fine for me

[2022-11-19 23:28] pkbullock opened #398 "Clean up duplicate CLI samples from original repo"
Look to remove any CLI sample that was used to seed the Script Samples repo in the beginning.

Paul has a list

Provide link to the sample in the original repo instead where a sample contain multiple samples for a scenario. With a relocation blurb.

Cc: @Adam-it feel free to add anything I may have missed for tracking.

[2022-11-20 13:02] pkbullock commented on #398
Hi some stats on the scale of the change:

We currently use 61 samples from the CLI repo originally imported mid-last year,  today, 18 of those have more that one script associated with them, for those I will be removing just the CLI Powershell/bash with a link to your repo and some blurb explaining the move.

So just as an FYI, 43 samples will be deleted and converted to "ideas" in issues list fo

[2022-11-20 17:04] Adam-it commented on #398
All fine for me, except that I think we should change title for that 18 samples on CLI side to indicate those are only CLI versions. Those coming from script sample maybe done in multiple tech.

@pnp/cli-for-microsoft-365-maintainers any additional comments?

[2022-11-22 19:58] pkbullock opened #399 "Update contribution guidance for the contribution program"
Add details and check through the documentation to see if any changes are needed

[2022-11-23 23:48] pkbullock commented on #391
Closing as this was kindly completed :-)

[2022-11-23 23:48] #391 closed

[2022-11-24 00:01] pkbullock commented on #398
Hi @Adam-it, I have a branch waiting with the changes to remove the imported CLI Samples as discussed.
Paolo said it should take 24 hours to disappear from the adoption gallery, also if you CLI extension consumes this, then that too will be reduced.

The changes:

# Updates to remove JUST the CLI for Microsoft 365 sample from the scenario

https://pnp.github.io/script-samples/spo-add-app-catalog/R

[2022-11-24 07:01] Adam-it commented on #398
Wow. You rock 🤩
Unfortunately I am not ready on the CLI side with the needed changes yet.
I will try to finish it off over the weekend and let you know 👍

[2022-11-27 16:26] Adam-it commented on #398
@pkbullock I started working on refactoring samples on CLI side. I will let you know when its done.
cheers 👍